extends layout

block vars
    -var title = "Home"

block content
    h1 SocialFly

    p Welcome to the SocialFly, Please <a href="/login">Login</a> or <a href="/signup">Signup</a>
    ul
      each user in users
        li
          a(href="/profile/#{user.username}") #{user.username}