extends layout

block content
  form(method="POST")
    input(type="text" name="email" placeholder="Email")
    br
    input(type="password" name="password" placeholder="password")
    br
    input(type="submit" name="Submit" value="Login")
