extends layout

block vars
    -var title = 'Login'

block content
    h1 Login to your Account
    br
    form(method = "post")
        span Email
        input(type= "text",name="email",required=true)
        br
        span Password
        input(type="password",name="password",required=true)
        br
        br
        input(type="submit")